<nav class="navbar navbar-dark navbar-expand-lg">
  <a href="#"><img src="assets/Logo.png" alt="Logo" /></a>
  <div class="container-header">
    <div class="navbar-collapse collapse" id="navbarDarkExampleCollapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="pi pi-home icon-spacer"></i>
            <span class="font-level-7">
              Escritorio
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/demandas-home"><img src="assets/DemandaIcon.png" style="width: 15px; margin-right: 5px;" />
            <span class="font-level-7">
              Demandas
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/todos-los-llamados"><i class="pi pi-list icon-spacer"></i>
            <span class="font-level-7">
              Llamados
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/proyectos-home"><i class="pi pi-folder icon-spacer"></i>
            <span class="font-level-7">
            Proyectos
          </span>
        </a>
        </li>
        <li class="linea-vertical"></li>
        <li class="nav-item">
          <a class="nav-link" (click)="toggleNotifications($event)">
            <i class="pi pi-bell campana"></i>
            <span *ngIf="unreadNotificationsCount > 0" class="notification-badge">
              {{ unreadNotificationsCount }}
            </span>
          </a>        
          <div *ngIf="notificationsVisible" class="notifications-dropdown">
            <div *ngFor="let notificacion of notificaciones">
              <div class="notification-container">
                <div class="notification-item">
                  <span class="font-level-4">{{ notificacion.titulo }}</span>
                  <span class="font-level-7">{{ notificacion.descripcion }}</span>
                </div>
                <div class="arrow-link">
                  <img (click)="abrirNotificacion(notificacion.id, notificacion.accion!, notificacion.leida!, notificacion.detalles.concurso_internalid!)" src="assets/ArrowRight.png" />
                </div>
              </div>
              <div>
                <hr>
              </div>
            </div>
          </div>
        </li>  
        <li class="linea-vertical"></li>
        <li class="nav-item" (click)="toggleDropdown($event)">
          <img [src]="imgUsuario" alt="avatar" class="avatar-circle">
          <i [ngClass]="isDropdownOpen ? 'pi pi-chevron-up' : 'pi pi-chevron-down'" class="toggle-icon"></i>
          <div *ngIf="isDropdownOpen" class="dropdown">
            <div class="dropdown-header">
              <span class="font-level-4">{{ nombreUsuario }}</span>
              <span class="font-level-7">Encargado {{ ambitoUsuario }}</span>
            </div>
            <hr>
            <a href="#" class="dropdown-link">
              <i class="pi pi-external-link"></i><span class="font-level-6" style="margin-left: 10px;">
                Sistemas Integrados
              </span>
            </a>
            <a href="#" class="dropdown-link">
              <i class="pi pi-question-circle"></i>
              <span class="font-level-6" style="margin-left: 10px;">
                Ayuda
              </span>
            </a>
            <a href="#" class="dropdown-link">
              <i class="pi pi-sign-out"></i>
              <span class="font-level-6" style="margin-left: 10px;">
                Cerrar sesión
              </span> 
            </a>
          </div>
        </li>              
      </ul>
    </div>
  </div>
</nav>