<p-dialog header="Proyecto" [(visible)]="displayDialog" modal="modal" [closable]="true" [style]="{ width: '28rem' }">
  <ng-template pTemplate="header">
    <span class="dialog-title">Enviar a comité</span>
  </ng-template>

  <p-divider></p-divider>

  <div class="fila-revision">
    <span class="font-level-7">Todos los proyectos del llamado serán enviados a comité para su toma de decisión final.</span>
  </div>

  <div class="dialog-content">
 
    <div class="button-publish" style="margin-top: 20px;">
      <button class="button-publicar" (click)="guardarEvaluacion()">
       Enviar a comité <i class="pi pi-angle-right" style="padding-left: 10px;"></i>
      </button>
    </div>
  </div>
</p-dialog>

