.home-llamados-grid-layout {
  display: grid;
  gap: 16px;
  grid-template-areas:
    'breadcrumb'
    'title'
    'cards'
    'table';
  grid-template-columns: 1fr;
  width: 100%;
  padding: 0px 120px;
}
