<app-header></app-header>
<div class="formulario-proyectos-grid-layout">
  <app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
  <app-title [title]="'Buscar demanda'" [subtitle]="subtitle"></app-title>
    <div class="div-row" style="padding: 35px 0 0 15px;">
      <div class="div-column" style="width: 40%;">
      <label>Tipo de usuario</label>
      <br>
      <!-- Recorre las opciones de tipoUsuarioOpciones para crear los radio buttons -->
      <div class="div-row" *ngFor="let opcion of tipoUsuarioOpciones">
        <div style="margin-bottom: 15px;">
          <p-radioButton 
            name="tipoUsuario" 
            [value]="opcion.id" 
            [(ngModel)]="selectedTipoUsuario" 
            (ngModelChange)="onTipoUsuarioChange()">
          </p-radioButton>
          <span class="font-level-7" style="padding-left: 10px;">
            {{ opcion.name }}
          </span>
        </div>
        </div>
      </div>
      <div class="div-column" *ngIf="activaBuscarPor">
       <label>Buscar por</label>
       <br>
       <div class="div-row">
         <p-radioButton 
           name="buscarPor" 
           value="si" 
           [(ngModel)]="selectedBuscarPor">
         </p-radioButton>
         <span class="font-level-7" style="padding-left: 10px;">
           RUT representante
          </span>          
        </div>
        <br>
        <div class="row" style="padding-left: 15px;">
          <p-radioButton 
            name="buscarPor" 
            value="no" 
            [(ngModel)]="selectedBuscarPor">
          </p-radioButton>
          <span class="font-level-7" style="padding-left: 10px;">
            Nombre Agrupación
          </span>
        </div>
      </div>
    </div>
   <div class="div-form">
  <div class="col" style="display: flex; flex-direction: row; align-items: flex-end; gap: 10px;">
    <app-input-text 
      style="width: 20%;" 
      [placeholder]="'12.345.678-9'" 
      [(value)]="rutUsuario" 
      [disable]="false"
      [label]="'RUT'" 
      [inputId]="'rutInput'" 
      [useFormControl]="false"
      tipo="rut">
    </app-input-text>
    <app-input-text 
      style="width: 20%;" 
      [placeholder]="'512238'" 
      [(value)]="numeroDemanda" 
      [disable]="false"
      [label]="'Número de Demanda'" 
      [inputId]="'Input'" 
      [useFormControl]="false">
    </app-input-text>
    <div style="padding: 25px 0;">
      <app-buttons 
        [label]="'Buscar'" 
        [icon]="'pi pi-search'" 
        [action]="buscar.bind(this)">
      </app-buttons>
    </div>
  </div>   
  </div>     
</div>
    
<p-dialog header="Proyecto" [(visible)]="displayDialog" modal="modal" [closable]="true" [style]="{ width: '33rem', height: 'auto' }">
  <ng-template pTemplate="header">
    <span class="dialog-title">Proyecto</span>
  </ng-template>

  <p-divider></p-divider>

  <div class="columna-revision" style="padding: 0px;">
    <div class="fila-revision">
        <div class="columna-revision">
          <label>Usuario</label>
          <span>{{ nombreUsuarioDemanda }} ({{ rutUsuarioDemanda }})</span>
        </div>
      </div>
      <div class="fila-revision">
        <div class="columna-revision">
          <label>N° Demanda</label>
          <span>{{ respuestaNumeroDemanda}}
            <app-chip [text]="estadoDemanda" [color]="chipColor"></app-chip>
          </span>
        </div>
        <div class="columna-revision">
          <label>Instrumento</label>
          <span>{{ instrumentoDemanda }}</span>
        </div>
      </div>
  </div>
  
  <div class="dialog-content">
    <div class="mt-3" style="margin-top: 10px;">
      <div style="display: flex; flex-direction: column; padding: 5px 0">
      <label for="nombre-proyecto">Nombre del proyecto</label>
      <input id="nombre-proyecto" class="text-input" type="text" [(ngModel)]="nombreProyecto"
        placeholder="12.345.678_9_tecnificado_12" />
    </div>     
      <h4 class="subtitle-dialog">Descripción del proyecto</h4>
      <textarea class="custom-textarea" [(ngModel)]="descripcionProyecto" rows="20" cols="30" 
          placeholder="descripcion del proyecto"></textarea>
    </div>
 
    <div class="button-publish" style="margin-top: 10px;">
      <button class="button-publicar" (click)="guardarProyecto()">
        <i class="pi pi-save" style="padding-right: 10px;"></i> Guardar proyecto
      </button>
    </div>
  </div>
</p-dialog>

<app-confirmacion-dialog
  [display]="mostrarConfirmacion"
  [isSuccess]="esExito"
  [successMessage]="mensajeExito"
  [errorMessage]="mensajeError"
  (onConfirm)="onConfirmar()"
  (onClose)="onCerrar()"
></app-confirmacion-dialog>